* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #09090A;
    color: white;
    
    height: 100vh;
  }

  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;

    padding: 48px;
  }

  button {
    padding: 16px 24px;
    border-radius: 8px;
    border: 1px solid #8B5CF6;
    background-color: transparent;
    color: white;

    display: flex;
    align-items: center;
    gap:12px;   

    font: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;

  }

  input{
    appearance: none;
    -webkit-appearance: none;

    width: 64px;
    height: 64px;

    border: 2px solid #27272A;
    border-radius: 8px;
  }